.button {
    font-size: 16px;
    background-color: $color;
    color: $white;
    padding: 12px 18px;
    border-radius: 15px;
    transition: all linear 0.3s;
    i{
      display: inline-block;
      padding: 0 15px;
    }
    &:hover{
      color: $white2;
    }
  }

  .btn-srt{
    width: 68px;
    height: 68px;
    background: #F9F9F9;
    position: relative;
    transition: all linear 0.3s;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      color: $color;
      transform: translate(-50%,-50%);
      font-size: 20px;
      transition: all linear 0.3s;
    }
    &:hover{
      background: $color;
      border-radius: 15px;
      i{
        color: $white;
      }
    }
  }