.button {
    font-size: 16px;
    background-color: $color;
    color: $white;
    padding: 12px 18px;
    border-radius: 15px;
    transition: all linear 0.3s;
    i{
      display: inline-block;
      padding: 0 15px;
    }
    &:hover{
      color: $white2;
    }
  }

  .btn-srt{
    @include square(68px);
    background: #F9F9F9;
    position: relative;
    transition: all linear 0.3s;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      color: $color;
      transform: translate(-50%,-50%);
      font-size: 20px;
      transition: all linear 0.3s;
    }
    &:hover{
      background: $color;
      border-radius: 15px;
      i{
        color: $white;
      }
    }
  }

  .btn-bg{
            width: 100%;
            border: none;
            padding: 15px 0;
            color: $white;
            transition: all linear 0.3s;
            position: relative;
            z-index: 99;
            &::after{
               @include pseudo;
               @include square(100%);
                background: $color;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0;
                transition: all linear 0.3s;
            }
            i{
               display: none;
               transition: all linear 0.3s;
            }
            &:hover{
                background: url(../img/bg.img) no-repeat center/cover !important;
                padding: 15px 0;
                &::after{
                    opacity: 0.9;
                }
                i{
                  display: inline-block;
                }
            }
        
  }

  .paginate-btn {
    margin-top: 30px;
    width: 100%;

    button {
        border-radius: unset;
        @include fontPack(40, 600, 70);
        color: $white;
        background: $dark;
        @include media-mx-992{
            @include fontPack(30, 0, 60);
        }
        @include media-mx-576{
            @include fontPack(25, 0, 30);
        }
    }
}