.button {
    font-size: 16px;
    background-color: $color;
    color: $white;
    padding: 12px 18px;
    border-radius: 15px;
    transition: all linear 0.3s;
    i{
      display: inline-block;
      padding: 0 15px;
    }
    &:hover{
      color: $white2;
    }
  }

  .btn-srt{
    @include square(68px);
    background: #F9F9F9;
    position: relative;
    transition: all linear 0.3s;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      color: $color;
      transform: translate(-50%,-50%);
      font-size: 20px;
      transition: all linear 0.3s;
    }
    &:hover{
      background: $color;
      border-radius: 15px;
      i{
        color: $white;
      }
    }
  }

  .btn-bg{
            width: 100%;
            border: none;
            padding: 15px 0;
            color: $white;
            transition: all linear 0.3s;
            position: relative;
            z-index: 99;
            &::after{
               @include pseudo;
               @include square(100%);
                background: $color;
                opacity: 0.9;
                top: 0;
                left: 0;
                z-index: -1;
                visibility: hidden;
                transition: all linear 0.3s;
            }
            i{
                display: none;
                transition: all linear 0.3s;
            }
            &:hover{
                background: url(../img/bg.img) no-repeat center/cover !important;
                padding: 15px 0;
                &::after{
                    visibility: visible;
                }
                i{
                    display: inline-block;
                }
            }
        
  }