*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

html, body, div, span, img, 
ol, ul, li, a, p, h1, h2, h3, 
h4, h5, h6, option,input, legend, label, 
table, th, td, tr, article, aside, 
caption, figure, footer, header, hgroup, 
mark, nav, section, time, audio, video {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
    max-width: 100%;
}