#page-title{
   padding: 65px 0;
   margin-bottom: 35px;
   background: url(../img/banner.jpg) no-repeat center/cover;
   position: relative;
   z-index: 1;
   &::after{
    @include pseudo;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
    @include square(100%);
    background: rgba($color: $color, $alpha: 0.5);
    z-index: -1;
   }
   .entry-title{
       padding: 20px 0;
       h1{
           font-size: 75px;
           font-weight: 600;
           line-height: 110px;
           color: $white;
           @include media-mx-768{
               font-size: 60px;
               line-height: 60px;
           }
           @include media-mx-576{
            font-size: 30px;
            line-height: normal;
           }
       }
       ul{
        li{
            display: inline-block;
            @include fontPack(20,500,36);
            color: $white;
            .delimiter{
                display: inline-block;
                padding: 0 5px;
                color: $color;
            }
            a{
                color: $white;
                transition: all linear 0.3s;
                &:hover{
                    color: $color;
                }
            }
            @include media-mx-576{
                @include fontPack(15,0,28);
            }
        }

    }
    @include media-mx-576{
        padding: 15px 0;
    }
   }
   @include media-mx-768{
    margin-bottom: 10px;
   }
   @include media-mx-576{
    padding: 15px 0;
   }
}