// =================================
//       About section css Start
// =================================
#about_section{
    .our_mission{
        width: 100%;
        height: 100%;
        background: $bg-c;
        // display: flex;
        // flex-direction: column;
        text-align: right;
        padding: 70px 0;

        ul{
            li{
                width: 100%;
                padding: 20px 50px;
                margin: 20px 0;
                background: url(../img/bg.img) no-repeat center/cover;
                position: relative;
                z-index: 1;
                transition: all linear 0.3s;
                &::after{
                    @include pseudo;
                    @include square(100%);
                     background: rgba($color: $black, $alpha: 0.8);
                     top: 0;
                     left: 0;
                     z-index: -1;
                     transition: all linear 0.3s;
                 }

                a{
                    @include fontPack(42,600,70);
                    color: $white;
                    margin-right: 35px;
                    @include media-mx-576{
                        @include fontPack(30);
                        margin-right: 20px;
                    }
                    
                }
                i{
                    @extend a;
                    display: none;
                }
                &:hover{
                    i{
                        display: inline-block;
                    }
                    &::after{
                        background: rgba($color: $color, $alpha: 0.9)
                    }
                }
            }
        }



        // p{
        //     @include fontPack(40,600,70);
        //     padding: 20px 0 60px;
        //     cursor: pointer;
        //     transition: 0.4s;
        //     i{
        //         display: none;
        //         transition: 0.4s;
        //     }
        //     &:hover{
        //         padding-right: 20px;
        //         i{
        //             display: inline-block;
        //             margin-left: 20px;
        //         }
        //     }
        //     @include media-mx-768{
        //         font-size: 30px;
        //         line-height: 35px;
        //         padding: 10px 0;
        //     }
        // }
        @include media-mx-992{
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .about_content{
        padding: 70px 0 70px 60px;
        h2{
            font-size: 55px;
            @include media-mx-768{
                font-size: 40px;
            }
        }
        p{
            span{
               @include fontPack(15,400,0);
                font-style: normal;
                display: block;
                margin-top: 20px;
            }
        }
        .customer_wrap{
            max-width: 100%;
            margin: 40px 0;
            display: flex;
            justify-content: space-between;
            
            .customer{
                padding: 40px 0;
                -ms-flex-item-align: end;
                align-self: flex-end;
                max-width: 310px;
                width: 100%;
                height: 100%;
                background: $bg-c;
                border-left: 10px solid $color;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                img{
                    width: 60px;
                    margin-right: 20px;
                }
                p,b{
                    @include fontPack(40,600,30);
                    color: #292929;
                    sup{
                        color: $color;
                    }
                    strong{
                        display: block;
                        font-size: 20px;
                    }
                    @media (max-width: 280px) {
                        font-size: 25px;
                        line-height: 30px;
                    }
                }
                @include media-mx-576{
                    max-width: 98%;
                    margin: 0 auto;
                }
               
            }
            .dots{
                width: 73px;
                height: 73px;
                align-self: center;
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                flex-wrap: wrap;
                span{
                    width: 13px;
                    height: 13px;
                    display: inline-block;
                    border-radius: 50%;
                    background: $color;
                    margin-right: 12px;
                    opacity: 0.2;
                    &:nth-child(3n+0){
                        margin-right: 0px;
                    }
                    &:nth-child(even){
                        background: $black;
                    }
                }
                @include media-mx-576{
                    display: none;
                }
            }
            @include media-mx-576{
                justify-content: space-evenly;
            }
        }
        @include media-mx-992{
            padding: 20px 0 0 10px;
            color: #fe6600cb
        }
    }
}

// =================================
//       About section css End
// =================================



