// =================================
//       Banner section css Start
// =================================
#banner{
    margin-bottom: 70px;
    padding: 140px 0 270px;
    background: url(../img/home_banner.jpg) no-repeat center/cover;
    position: relative;
    z-index: 1;
    &::after{
        @include pseudo;
        @include square(100%);
        top: 0;
        left: 0;
        background: rgba($color: $dark, $alpha: 0.7);
        z-index: -1;
    }
    .banner_wrap{
        
        p{
            color: $color;
            font-size: 20px;
            font-weight: 600;
            @include media-mx-576{
                font-size: 14px;
            }
        }
        h1{
            color: $white;
            font-size: 100px;
            font-weight: 600;
            line-height: 110px;
            span{
                color: $color;
            }
            @include media-mx-992{
                font-size: 50px;
                line-height: 60px;
            }
            @include media-mx-576{
                font-size: 30px;
                line-height: 40px;
            }
        }
        a{
            margin-top: 30px;
        }
        
    }
    .facts_area{
        position: absolute;
        left: 0;
        bottom: -70px;
        width: 100%;
        .facts_wrap{
            background: #FE6600;
            width: 100%;
            border-top: 10px solid #fff;
            padding: 55px 0;
            ul{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                li{
                    display: inline-block;
                    @include fontPack(35,900);
                    color: #fff;
                    padding: 14px 0;
                    position: relative;
                    &::after{
                        @include pseudo;
                        top: 0;
                        right: -45px;
                        width: 1px;
                        height: 100%;
                        background: #FF8432;
                        @include media-mx-992{
                            right: -27px;
                        }
                        @include media-mx-768{
                            display: none;
                        }
                    }
                    &:last-child::after{
                       display: none;
                    }
                    img{
                        @include square(38px);
                        margin-right: 20px;
                        @include media-mx-992{
                            @include square(25px);
                            margin-right: 10px;
                        }
                        @include media-mx-768{
                            margin-right: 5px;
                        }
                        @include media-mx-576{
                            @include square(18px);
                        }
                    }
                    span{
                        display: block;
                        @include fontPack(15,600);
                        margin-left: 70px;
                        color: $dark;
                        @include media-mx-992{
                            font-size: 11px;
                            margin-top: 0;
                            margin-left: 40px;
                        }
                        @include media-mx-768{
                            margin-left: 10px;
                        }
                        @include media-mx-576{
                            font-size: 11px;
                            margin-left: 5px;
                            line-height: 15px;
                        }
                    }
                    @include media-mx-992{
                        padding: 10px 0;
                        font-size: 18px;
                    }
                    @include media-mx-576{
                        padding: 10px 0 15px;
                        font-size: 14px;
                    }
                }
            }
        }
        @include media-mx-768{
            
        }
    }
    @include media-mx-992{
        padding: 60px 0 100px;
        .facts_area {
            bottom: -50px;
            .facts_wrap {
                padding: 10px 0;
                ul li{
                    border: none;
                }
            }
        }
        
    }
    @include media-mx-768{
        margin-bottom: 0;
    }
    @include media-mx-576{
        padding: 60px 0;
    }
}


// =================================
//       Banner section css End
// =================================



// =================================
//       services section css Start
// =================================
#services{
    padding: 35px 0 70px;
    margin-top: 20px;
    background: $bg-c;
    position: relative;
    .shape{
        @include pseudo;
        @include square(218px);
        background: $white2;
        clip-path: polygon(100% 3%, 0% 100%, 100% 100%);
        bottom: 0;
        right: 0;
        z-index: 99;
        &::after{
            @include pseudo;
            @include square(193px);
            background: $color;
            clip-path: polygon(100% 3%, 0% 100%, 100% 100%);
            bottom: 0;
            right: 0;
            z-index: 99;
        }
        @include media-mx-576{
            @include square(140px);
            &::after{
                @include square(120px);
            }
        }
    }
    .service_wrap{
        .service_content{
            margin: 80px 5px;
            padding: 35px 30px;
            background: $white;

            .ser_ic{
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                > div i{
                    font-size: 45px;
                    color: $color;
                }
                a{
                    @include square(50px);
                }
            }
            h4{
                font-size: 28px;
                font-weight: 600;
                line-height: 40px;
                color:$dark;
                padding-top: 15px;
            }
            p{
                font-size: 15px;
                line-height: 26px;
                color: #3b3b3b;
                padding-top: 20px;
                
            }
            @include media-mx-992{
                margin: 40px 0;
                padding: 10px;
            }
            @include media-mx-768{
                padding: 20px;
                margin: 20px;
            }
        }
        hr{
            width: 100%;
            height: 8px;
            background: $color;
            border: none;
            opacity: 1;
            margin: 0;
            padding: 0;
            @include media-mx-768{
                display: none;
            }
        }
    }
}

// =================================
//       Service section css End
// =================================


    
// =================================
//       Partners section css Start
// =================================
#partners{
    padding: 30px 0;
    margin: 35px 0;
    overflow: hidden;
    .partner_wrap{
        
        .partner-title{
            max-width: 300px;
            margin-left: auto;
            h2{
                @include fontPack(60,600,85);
                color: $dark-2;
                @include media-mx-992{
                    @include fontPack(40,0,50);
                }
            }
            @include media-mx-768{
                margin: 0 auto;
                text-align: center;
            }
        }

        .owl-carousel{
            padding: 45px 25px;
            .owl-nav{
                button{
                    position: absolute;
                    left: -135px;
                    @extend .btn-srt;
                    @include square(50px);
                    @include media-mx-992{
                        left : -100px;
                    }
                    @include media-mx-768{
                        display: none;
                    }
                }
                .owl-prev{
                    bottom: 30px;
                    @include media-mx-992{
                        bottom: 20px;
                    }
                   
                }
                .owl-next{
                    top: 30px;
                    @include media-mx-992{
                        top: 20px;
                    }
                }
            }
        }
        
        .company-logo{
            max-width: 90px;
            width: 100%;
            margin: 0 auto;
            img{
                width: 100%;
                height: auto;
            }
            @media only screen and (min-width:768px) and (max-width:992px){
                max-width: 60px;
            }
            @include media-mx-576{
                max-width: 50px;
            }
        }
        &:first-of-type{
            @include media-mx-992{
                margin: auto 0 auto auto;
                max-width: 240px;
            }
            @include media-mx-768{
                max-width: 100%;
            }
        }
    }
    
}

// =================================
//       Partners section css End
// =================================


// =================================
//       PORTFOLIO section css End
// =================================
    #portfolio{
        padding: 70px 0 140px;
        margin-bottom: 35px;
        background: $dark-2;
        position: relative;
        .shape{
            @include pseudo;
            @include square(218px);
            background: #4C3526;
            clip-path: polygon(0 0, 0% 100%, 100% 0);
            top: 0;
            left: 0;
            z-index: 99;
            &::after{
                @include pseudo;
                @include square(193px);
                background: $color;
                clip-path: polygon(0 0, 0% 100%, 100% 0);
                top: 0;
                left: 0;
                z-index: 99;
            }
            @include media-mx-576{
                @include square(140px);
                &::after{
                    @include square(120px);
                }
            }
        }
        .heading{
            h2{
                color: $white;
            }
            p{
                color: #BFBFBF;
            }
        }
        .owl-carousel{
            padding: 45px 25px;
            .owl-nav{
                position: absolute;
                bottom: -134px;
                left: 50%;
                transform: translateX(-50%);
                button{
                    @extend .btn-srt;
                    margin: 0 10px;
                    background: #4C3526;
                    i{
                        color: $white;
                    }
                    &:hover{
                        background: $dark-2;
                        border-radius: 0;
                        i{
                            color: $color;
                        }
                    }
                    @media only screen and (max-width:380px){
                        @include square(45px);
                    }
                }
                @media only screen and (max-width:380px){
                    bottom: -120px;
                }
            }
        }
        .portfolio_wrapper{
            padding: 0 10px;
            margin-top: 50px;


            .portfolio-img {
                position: relative;
                transition: all linear 0.3s;
                border: 5px solid transparent;
        
                img {
                    width: 100%;
                    height: auto;
                }
        
                .triangle {
                    @include square(0);
                    border-bottom: 193px solid $color;
                    border-right: 193px solid transparent;
                    position: absolute;
                    opacity: 0;
                    left: 0;
                    bottom: 0;
                    transition: all linear 0.3s;
        
                    .btn-srt {
                        position: absolute;
                        background: $white;
                        left: 20px;
                        top: 110px;
                        color: $color;
                        border-radius: 15px !important;
        
                        &:hover i {
                            color: $color !important;
                        }
                    }
                }
        
                &:hover {
                    border-color: $color;
        
                    .triangle {
                       opacity: 0.9;
                    }
                }
        
                @include media-mx-768 {
                    max-width: 85%;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            p{
                @include fontPack(14, 600, 26);
                letter-spacing: 0.56px;
                color: $color;
                padding-top: 30px;
        
                @include media-mx-768 {
                    text-align: center;
                    padding-top: 15px;
                }
            }
            h3 {
                @include fontPack(25, 600, 0);
                color: $white;
                padding: 5px 0;
        
                @include media-mx-768 {
                    text-align: center;
                    padding: 0;
                }
        
            }
    }
    .carousel-btn{
        margin-top: 50px;
        @include widthHeight(100%,100px);
        background: $dark;
    }
}
// =================================
//       PORTFOLIO section css Start
// =================================



// =================================
//       services section css End
// =================================
// =================================
//       services section css Start
// =================================



// =================================
//       services section css End
// =================================
// =================================
//       services section css Start
// =================================



// =================================
//       services section css End
// =================================